<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<% include template/head.ejs%>
</head>

<body>
	<% include template/header.ejs%>

	<!-- Start Post Silder Area -->
	<!-- Start banner Area -->
	<section class="banner-area">
		<div class="container box_1170">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content text-center col-lg-8">
					<h1>
						Saint Petersburg Metro <br>
						Uniting the city and bringing people together
					</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	
	<!-- Start Post Silder Area -->
	<section class="post-slider-area">
		<div class="container box_1170">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="owl-carousel active-post-carusel">
						<div class="post-box mb-30">
							<div class="d-flex">
								<div>
									<a href="#">
										<img src="img/author/a1m.png" alt="">
									</a>
								</div>
								<div class="post-meta">
									<div class="meta-head">
										<a href="#">S.T</a>
									</div>
									<div class="meta-details">
										<ul>
											<li>
												<a href="#">
													<span class="lnr lnr-calendar-full"></span>
													13th Mar, 2019
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-picture"></span>
													Image Post
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-coffee-cup"></span>
													News & Metro
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-bubble"></span>
													03 Comments
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<p>Идея создания в северной столице Российской империи Санкт-Петербурге городской внеуличной железной дороги - метрополитена - имеет давнюю историю и уходит своими корнями в XIX столетие. Еще в 1820 году инженер Торгованов обращался через графа М.А. Милорадовича к Александру I с проектом устройства тоннеля под Невой. Предложение получило резолюцию: «Выдать Торгованову из кабинета 200 р. и обязать его подписью впредь прожектами не заниматься, а упражняться в промыслах, ему свойственных». С близкими идеями и так же безрезультатно выступал известный изобретатель-самоучка И.П. Кулибин.</p>
							<div class="post-btn">
								<a href="#" class="primary-btn text-uppercase">Read More</a>
							</div>
						</div>

						<div class="post-box mb-30">
							<div class="d-flex">
								<div>
									<a href="#">
										<img src="img/author/a1m.png" alt="">
									</a>
								</div>
								<div class="post-meta">
									<div class="meta-head">
										<a href="#">S.T</a>
									</div>
									<div class="meta-details">
										<ul>
											<li>
												<a href="#">
													<span class="lnr lnr-calendar-full"></span>
													13th Mar, 2019
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-picture"></span>
													Image Post
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-coffee-cup"></span>
													Metro & Travel
												</a>
											</li>
											<li>
												<a href="#">
													<span class="lnr lnr-bubble"></span>
													03 Comments
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<p>Неосуществленными проектами в силу обстоятельств остались тогда и петербургские разработки знаменитого «отца тоннелестроения» английского инженера французского происхождения Марка Изамбара Брюнеля. Сооруженный в 1855 году Николаевский (Благовещенский) мост на какое-то время отодвинул решение задачи соединения невских берегов и грузо-пассажирских перевозок из центра на Васильевский остров. Однако уже вскоре она встала с новой остротой</p>
							<div class="post-btn">
								<a href="#" class="primary-btn text-uppercase">Read More</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Start main body Area -->
	<div class="main-body section-gap mt--30">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="single-post-item">
							<% post.forEach(function(item){ %>
							<figure>
								<img class="post-img img-fluid" src="<%= item.image %>" alt="">
							</figure>
							
							<h3>
								<a href="news/<%= item.id %>"><%= item.title %></a>
							</h3>

							<script>
								let content  = <%-item.content %>;
								console.log(row);
							</script>
								<%-	 item.content %>
							<a href="news/<%= item.id %>" class="primary-btn text-uppercase mt-15">continue Reading</a>
							<% }) %>
						</div>


						<nav class="blog-pagination justify-content-center d-flex">
							<ul class="pagination">
								<li class="page-item">
									<a href="#" class="page-link" aria-label="Previous">
										<span aria-hidden="true">
											<span class="lnr lnr-arrow-left"></span>
										</span>
									</a>
								</li>
								<li class="page-item"><a href="#" class="page-link">01</a></li>
								<li class="page-item active"><a href="#" class="page-link">02</a></li>
								<li class="page-item"><a href="#" class="page-link">03</a></li>
								<li class="page-item"><a href="#" class="page-link">04</a></li>
								<li class="page-item"><a href="#" class="page-link">09</a></li>
								<li class="page-item">
									<a href="#" class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<span class="lnr lnr-arrow-right"></span>
										</span>
									</a>
								</li>
							</ul>
						</nav>
					</section>
					<!-- Start Post Area -->
				</div>

				<% include template/defaultcontent.ejs%>
			</div>
		</div>
	</div>
	<!-- Start main body Area -->

	<% include template/footer.ejs%>
	<% include template/jsdefault.ejs%>
	

	
</body>

</html>